*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

/* COLOR PALETTE */
*:root {
    /*CLOCK*/
    --color-black: #000505;
    --color-black-light: #20211B;
    --color-characters-on: #E60001;
    --color-characters-off: #151716;
    --color-screen-background: #202322;
    --color-clock-border: #757877;
    --color-clock-body: #BEBEBE;
    --color-shadow: #000000; /*to be defined*/

    /*TABLE*/
    --color-table-wood: rgb(29, 28, 27);
    --color-table-wood-dark: #BD611E;
    --color-table-wood-shadow-light: #994628;
}

html {
    box-sizing: border-box;
}

body {
    background-color: #5D166E;
}

/*CLOCK BORDER AND MAIN ELEMENT*/
.countdown-clock {
    width: 360px;
    height: 150px;
    margin: 100px auto 0 auto;
    border-radius: 15px;
    background-color: var(--color-clock-border);
    position: relative;
    cursor: default;
}

/*CLOCK BODY*/
.countdown-clock::before {
    content: "";
    width: 130px;
    height: 150px;
    background-color: var(--color-clock-body);
    position: absolute;
    right: -80px;
    z-index: -1;
    border-radius: 15px;
}

/*CLOCK'S SCREEN*/
.countdown-clock::after {
    content: "";
    width: 344px;
    height: 134px;
    background-color: var(--color-screen-background);
    position: absolute;
    border-radius: 10px;
    left: 8px;
    top: 8px;
}

/*SNOOZE GROUP (to apply effects)*/
.snooze-button-group {
    transition: .1s;
    z-index: -1;
    cursor: pointer;
}

.snooze-button-group:active {
    transform: translateY(8px);
}

/*SNOOZE BUTTON*/
.snooze-button {
    height: 30px;
    width: 150px;
    border-radius: 8px;
    background-color: var(--color-black-light);
    position: absolute;
    top: -15px;
    left: 50%;
    transform: translateX(-50%);
    z-index: -1;
    padding-left: 7px;
}

/*SNOOZE BUTTON SIDE*/
.snooze-button-side {
    content: "";
    height: 30px;
    width: 50px;
    border-radius: 8px 8px 0 0 ;
    background-color: var(--color-black);
    position: absolute;
    top: -15px;
    right: 80px;
    z-index: -2;
}

.screen-content {
    font-family: 'Digital', sans-serif;
    width: 330px;
    height: 120px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    display: flex;
    align-items: center;
    justify-content: space-around;
    user-select: none;
}

/*OFF CHARACTERS*/
.time-off {
    color: var(--color-characters-off);
    font-size: 100px;
}

/*ON CHARACTERS*/
.time-on {
    position: absolute;
    top: 0;
    font-size: 100px;
    color: var(--color-characters-on);
}

.colon {
    animation: colon 2s steps(1) infinite;
}

/*AM PM ALARM*/
.secondary-elements {
    color: var(--color-characters-on);
    font-size: 23px;
    text-align: center;
    list-style-type: none;
}

.am {
}

.pm {
    color: var(--color-characters-off)
}

.alarm {
    font-size: 18px;
}

/*------------*/
/*---TABLE---*/
.table {
    width: 100%;
    height: 15px;
    margin: 0 auto 0 auto;
    background-color: var(--color-table-wood);
    position: relative;
}

.table::after {
    content: "";
    width: 100%;
    height: 80px;
    background:
radial-gradient(rgb(82, 82, 82) 15%, transparent 16%) 0 0,
radial-gradient(black 15%, transparent 16%) 8px 8px,
radial-gradient(rgba(255,255,255,.1) 15%, transparent 20%) 0 1px,
radial-gradient(rgba(255,255,255,.1) 15%, transparent 20%) 8px 9px;
background-color:#3d3939;
background-size:16px 16px;
    position: absolute;
    top: 10px;
    left: 50%;
    transform: translateX(-50%);
    z-index: -1;
}

.table::before {
    content: "";
    width: 100%;
    height: 15px;
    background-color: var(--color-table-wood);
    position: absolute;
    bottom: -80px;
}

@keyframes colon {
    0% {
        color: var(--color-characters-on);
    }

    50% {
        color: var(--color-characters-off);
    }
}






@font-face {
    font-family: 'Digital';
    src: url('./fonts/digital-7_mono-webfont.woff2') format('woff2'),
         url('./fonts/digital-7_mono-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}